html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

html,
body {
	height: 100%;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.2;
	overflow-x: hidden;
	color: $primary;
}

.overflow-hidden {
	overflow: hidden;
}

ul[class],
ol[class] {
	padding: 0;
}

ul[class] {
	list-style: none;
}

a {
	text-decoration: none;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 15px;
}

.container-padding {
	padding-top: 90px;
	padding-bottom: 90px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	background-color: #000000;
	padding-bottom: 5000px;
	// position: relative;
	// overflow-x: hidden;
}

.main {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}

.btn {
	all: unset;
	box-sizing: border-box;
	color: $titles;
	background-color: #3D96F4;
	border-radius: 50px;
	padding: 16px 29px;
	cursor: pointer;
	width: 160px;
	text-align: center;

	&:hover {
		background-color: #0B63C0;
		transition: 0.5s ease-in-out;
	}

	&--dark {
		background: rgba(129, 129, 139, 0.20);
	}
}

.btn-transparant {
	display: inline-block;
	width: 101px;
	text-transform: uppercase;
	border-radius: 12px;
	border: 1px solid rgba(129, 129, 139, 0.20);
	padding: 11px 18.8px 11px 19px;
	font-size: 10.8px;
	text-align: center;
	background-color: transparent;
	color: #9C9C9C;
}

.title {
	@extend %titles;
}