.header {
    padding: 32px 0;
    margin-bottom: 44px;

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 32px;
    }

    &__logo {
        margin-right: auto;
        position: relative;
        z-index: 999;
    }

    &__btn {}
}

.menu {
    position: relative;

    &__list {
        display: flex;
        gap: 28px;
        align-items: center;
    }

    &__item {
        padding: 8px;

        &:hover {
            background-color: #1c96e8;
            padding: 8px;
            border-radius: 25px 0 25px 0;
            transition: .5s;
        }
    }

    &__item-cart{
        border-radius: 29.938px;
        background: rgba(129, 129, 139, 0.30);
        padding: 5px 10px;
        margin-left: -24px;
    }

    &__item-cart-btn {
        display: none;
    }

    &__link {
        color: $titles;
        cursor: pointer;
    }
}

.first-screen {
    padding-bottom: 90px;

    &__inner {
        display: flex;
        justify-content: space-between;
        position: relative;
        align-items: center;
    }

    &__info {
        margin-right: 20px;
        position: relative;
        max-width: 505px;
    }

    &__dots-title-wrap {
        position: relative;
    }

    &__title {
        padding-bottom: 28px;
        margin: 0;
    }

    &__text {
        margin: 0;
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 33px;
    }

    &__btn-inner {
        display: flex;
        gap: 32px;
        flex-wrap: wrap;
    }

    &__btn {}

    &__photo {
        display: flex;
        gap: 59px;
        max-width: 542px;
    }

    &__column {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    &__img {

        &+& {
            margin-top: 32px;
        }
    }
}

.animation-img {
    &--first {
        animation: animating-first 1s ease-in 1s 1 normal forwards, animating-first-2 15s ease-in 2s infinite normal;
        width: 100%;
        aspect-ratio: 0.6;
        object-fit: cover;
    }

    &--second {
        animation: animating-second 1s ease-in 1s 1 normal forwards;
        width: 100%;
    }

    &--third {
        animation: animating-third 1s ease-in 1s 1 normal forwards;
        width: 100%;
    }

    &--fourth {
        animation: animating-first 1s ease-in 1s 1 normal forwards, animating-fourth-2 15s ease-in 3s infinite normal;
        width: 100%;
        aspect-ratio: 0.6;
        object-fit: cover;
    }
}


@keyframes animating-first {
    from {
        border-radius: 0;
    }

    to {
        border-radius: 378px 378px 0px 378px;
    }
}


@keyframes animating-first-2 {
    0% {
        border-radius: 378px 378px 0px 378px;
    }

    17% {
        border-radius: 378px 378px 0px 378px;
    }

    24% {
        border-radius: 378px 378px 378px 0; //2
    }

    41% {
        border-radius: 378px 378px 378px 0;
    }

    48% {
        border-radius: 378px 0 378px 378px; //3
    }

    65% {
        border-radius: 378px 0 378px 378px;
    }

    72% {
        border-radius: 0 378px 378px 378px; //4
    }

    89% {
        border-radius: 0 378px 378px 378px;
    }

    100% {
        border-radius: 378px 378px 0px 378px;
    }
}

@keyframes animating-fourth-2 {
    0% {
        border-radius: 378px 378px 0px 378px;
    }

    17% {
        border-radius: 378px 378px 0px 378px;
    }

    24% {
        border-radius: 0 378px 378px 378px; //2
    }

    41% {
        border-radius: 0 378px 378px 378px;
    }

    48% {
        border-radius: 378px 0 378px 378px; //3
    }

    65% {
        border-radius: 378px 0 378px 378px;
    }

    72% {
        border-radius: 378px 378px 378px 0; //4
    }

    89% {
        border-radius: 378px 378px 378px 0;
    }

    100% {
        border-radius: 378px 378px 0px 378px;
    }
}


@keyframes animating-second {
    from {
        border-radius: 0;
    }

    to {
        border-radius: 241.906px 241.906px 0px 241.906px;
    }
}


@keyframes animating-third {

    from {
        border-radius: 0;
    }

    to {

        border-radius: 241.906px 0px 241.906px 241.906px;
    }
}

.first-screen__dots {
    position: absolute;
    top: -17px;
    left: -70px;
}

.dots {
    display: grid;
    grid-template-columns: repeat(8, 15px);
    grid-template-rows: repeat(8, 15px);
    place-items: center;

}

.dot {
    width: 10px;
    height: 10px;
    background-color: #81818B;
    opacity: 0.2;
    border-radius: 50%;
    animation: dot 5s calc(var(--delay1, 0s) + var(--delay2, 0s)) infinite ease-in-out;
}


@keyframes dot {
    from {
        transform: rotate(0deg) translateX(8px);
    }

    to {
        transform: rotate(360deg) translateX(8px);
    }
}

.dot:nth-child(n+1):nth-child(-n+8) {
    --delay2: 0s;
}

.dot:nth-child(8n+2) {
    --delay1: -0.3s;
}

.dot:nth-child(n+9):nth-child(-n+16) {
    --delay2: -0.2s;
}

.dot:nth-child(8n+3) {
    --delay1: -0.6s;
}

.dot:nth-child(n+17):nth-child(-n+24) {
    --delay2: -0.4s;
}

.dot:nth-child(8n+4) {
    --delay1: -0.9s;
}

.dot:nth-child(n+25):nth-child(-n+32) {
    --delay2: -0.6s;
}

.dot:nth-child(8n+5) {
    --delay1: -1.2s;
}

.dot:nth-child(n+33):nth-child(-n+40) {
    --delay2: -0.8s;
}

.dot:nth-child(8n+6) {
    --delay1: -1.5s;
}

.dot:nth-child(n+41):nth-child(-n+48) {
    --delay2: -1s;
}

.dot:nth-child(8n+7) {
    --delay1: -1.8s;
}

.dot:nth-child(n+49):nth-child(-n+56) {
    --delay2: -1.2s;
}

.dot:nth-child(8n+8) {
    --delay1: -2.1s;
}

.dot:nth-child(n+57):nth-child(-n+64) {
    --delay2: -1.4s;
}


.clients {
    text-align: center;

    &__inner {}

    &__title {
        margin: 0 0 30px 0;
        color: #FFF;
        font-size: 14px;
        line-height: 22.4px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
}

.swiper {
    width: 100%;
    height: 100%;

    &__inner {
        -webkit-mask: linear-gradient(90deg, transparent, #81818B 20%, #81818B 80%, transparent);
        mask: linear-gradient(90deg, transparent, #81818B 20%, #81818B 80%, transparent);
    }
}

.swiper-wrapper {
    transition-timing-function: linear;
}

.swiper-slide {
    width: auto;
}

.services {


    &__inner {
        display: flex;
        gap: 104px;
    }

    &__info {
        max-width: 512px;
        margin: auto 0;
    }

    &__btn-transparant {
        margin-bottom: 19px;
    }

    &__title {
        margin-bottom: 19px;
    }

    &__text {
        margin: 0 0 33px 0;
    }

    &__btn {}

    &__tabs {}
}




.tabs {
    display: flex;
    gap: 32px;


    &__row-first {
        margin-top: 100px;
    }

    &__item {
        border-radius: 30px;
        background: rgba(129, 129, 139, 0.10);
        padding: 55px 25px 61px;

        &+& {
            margin-top: 32px;
        }
    }

    &__svg {
        margin-bottom: 14px;
    }

    &__subtitle {
        margin: 0 0 10px 0;
        color: #FFF;
        font-size: 19.2px;
        font-weight: 400;
        line-height: 26px;
    }

    &__text {
        margin: 0;
        line-height: 24px;
    }

    &__row-second {}
}

.advantages {

    &__inner {
        display: flex;
        gap: 64px;
        position: relative;
    }

    &__photo {
        position: relative;
        align-self: center;
    }

    &__photo-wrap {
        display: flex;
    }

    &__img-bg {
        flex: 1 0 71%;
    }

    &__image-bg {
        width: 100%;
        aspect-ratio: 0.53;
        object-fit: cover;
        border-radius: 0 738px 430px 430px;
        transition: border-radius 0.5s ease;

        &--animated {
            border-radius: 738px 0 430px 430px;
        }
    }

    &__img-sm {
        align-self: flex-end;
    }

    &__image-sm {
        width: 100%;
        aspect-ratio: 1;
        object-fit: cover;
        border-radius: 181px 181px 0px 181px;
        transition: border-radius 0.5s ease;

        &--animated {
            border-radius: 181px 181px 181px 0px;
        }
    }

    &__title-dots-wrap {
        position: relative;
    }


    &__dots {
        position: absolute;
        top: -16px;
        left: -64px;
    }

    &__info {
        margin: auto 0;
        flex: 1 0 47%;
    }

    &__btn-transparant {
        margin-bottom: 43px;
    }

    &__title {
        margin-bottom: 40px;
    }

    &__text {
        margin: 0 0 29px 0;
        font-size: 18px;
    }

    &__items {}

}

.advantages-list {

    &__item {
        margin-bottom: 20px;
        position: relative;
        display: flex;

        
    }

    &__dot {
        background-color: rgba(129, 129, 139, 0.10);
        width: 32px;
        height: 32px;
        border-radius: 32px;
        margin-right: 10px;
        position: relative;

        &::after {
            content: '';
            background-image: url(../images/chek.svg);
            width: 16px;
            height: 16px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__text {
        margin: 0;
        align-self: center;
    }
}

.expert {

    &__inner {
        display: flex;
        gap: 32px;
        justify-content: space-between;
    }

    &__list {
        margin: 0;
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 32px;
    }

    &__item {
        padding: 40px;
        border-radius: 30px;
        background: #0d0d0e;
        transition: 1.5s;
    }

    &__title {
        margin: 0 0 44px 0;
    }

    &__text {
        margin: 0;
        font-size: 18px;
        line-height: 27px;
    }

    &__photo {
        width: 100%;
    }

    &__img {
        width: 100%;
        aspect-ratio: .84;
        object-fit: cover;
        border-radius: 378px 0px 378px 378px;
        transition: border-radius 0.5s ease;

        &--animated {
            border-radius: 0px 378px 378px 378px;
        }
    }
}



.second-card {
    transform: translateX(calc(-100% - 32px));

    &--animated {
        transform: translate(0);
    }
}

.third-card {
    transform: translateY(calc(-100% - 32px));

    &--animated {
        transform: translate(0);
    }
}

.fourth-card {
    transform: translate(calc(-100% - 32px), calc(-100% - 32px));

    &--animated {
        transform: translate(0);
    }
}

.comments {

    &__info {}

    &__items {
        opacity: 0;
        transition: 2s;

        &--animated {
            opacity: 1;
        }
    }
}

.comments-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 48px;


    &__item {
        border-radius: 30px;
        background: #232326;
        padding: 64px 40px 84px;
        display: flex;
        flex-direction: column;
        min-height: 100%;
        transition: .5s ease-in-out;


        &:hover {
            transform: scale(1.1);
        }
    }

    &__cart {
        display: flex;
        gap: 16px;
        margin-bottom: 33px;
    }

    &__photo {}

    &__img {}

    &__person {
        align-self: center;
    }

    &__name {
        margin: 0 0 7px 0;
    }

    &__company {
        margin: 0;
    }

    &__subtitle {
        color: #FFF;
        font-size: 32px;
        font-weight: 400;
        line-height: 44.8px;
        margin: 0 0 34px 0;
    }

    &__text {
        margin: 0 0 35px 0;
    }

    &__star {
        margin-top: auto;
    }
}


.header-section {

    &__wrap {
        margin-bottom: 64px;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        opacity: 0;
        transition: 2s;
        transform: translateY(50px);

        &--animated {
            opacity: 1;
            transform: translateY(0);
        }
    }

    &__inner {}

    &__btn-transparant {
        margin-bottom: 25px;
    }

    &__title {
        margin-bottom: 12px;
        max-width: 391px;
    }

    &__text {
        margin: 0;
        max-width: 736px;
        font-size: 18px;
    }

    &__btn {
        align-self: self-end;
    }
}


.blog {

    &__title {}

    &__items {
        opacity: 0;
        transition: 2s;

        &--animated {
            opacity: 1;
        }
    }
}

.blog-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 48px;
    margin: 0;

    &__item {
        border-radius: 24px;
        background: rgba(129, 129, 139, 0.10);
        display: flex;
        flex-direction: column;
        height: 100%;

    }

    &__photo {
        position: relative;

        img {
            max-width: 100%;
            border-radius: 24px 24px 0 0;
            display: block;
        }
    }

    &__label {
        border-radius: 0px 10px 0px 0px;
        background: rgba(129, 129, 139, 0.50);
        color: #FFF;
        font-size: 14px;
        padding: 9px 9.8px 9px 10px;
        width: max-content;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 5;
    }

    &__wrap {
        padding: 36px 29px 41px 26px;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &__data {
        margin: 0;
        color: rgba(129, 129, 139, 0.90);
    }

    &__subtitle {
        margin: 20px 0 30px 0;
        color: #FFF;
        font-size: 19.2px;
        font-weight: 400;
        line-height: 26.88px;
    }

    &__text {
        margin: 0 0 22px 0;

    }

    &__link {
        margin-top: auto;
        color: #3D96F4;
        font-size: 14px;
        line-height: 22.4px;
    }
}

.contact-us {

    &__inner {
        border-radius: 30px;
        background: rgba(129, 129, 139, 0.10);
        display: flex;
        justify-content: space-around;
        padding: 52px 40px;
    }

    &__info {
        width: 348px;
        text-align: center;
    }

    &__title {
        color: #FFF;
        font-size: 32px;
        font-weight: 400;
        line-height: 44.8px;
        margin: 0 0 16px 0;
    }

    &__text {
        margin: 0;
    }

    &__btns {
        align-self: center;
        display: flex;
        gap: 32px;
    }

    &__btn {}
}


.footer {
    padding-bottom: 0;

    &__inner {}

    &__top {
        display: flex;
        justify-content: space-between;
        gap: 80px;
        margin-bottom: 120px;
    }

    &__first-column {}

    &__second-column {}

    &__third-column {}

    &__fourth-column {}

    &__bottom {}

    &__bottom-text {
        font-size: 14px;
        text-align: center;
        padding: 46px 0;
        border-top: 1px solid rgba(129, 129, 139, 0.20);
    }
}

.first-column {
    max-width: 340px;

    &__logo {
        margin-bottom: 32px;
    }

    &__text {
        margin: 0 0 32px 0;
    }

    &__icons {
        display: flex;
        gap: 16px;
    }

    &__icon {
        border-radius: 36px;
        border: 1px solid rgba(129, 129, 139, 0.90);
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}

.icon-linkedin {

    &:hover {
        color: #3D96F4;
        transition: .5s;
        border: 1px solid #3D96F4;
    }

    &__svg {
        width: 20px;
        height: 20px;
    }
}

.icon-twitter {

    &:hover {
        color: #1c96e8;
        border: 1px solid #1c96e8;
        transition: .5s;
    }

    &__svg {
        width: 20px;
        height: 20px;
    }
}

.icon-facebook {

    &:hover {
        color: #4867aa;
        border: 1px solid #4867aa;
        transition: .5s;
    }

    &__svg {
        width: 20px;
        height: 20px;
    }
}

.icon-youtube {

    &:hover {
        color: #ff0000;
        border: 1px solid #ff0000;
        transition: .5s;
    }

    &__svg {
        width: 20px;
        height: 20px;
    }
}

.icon-instagram {

    &:hover {
        color: #c134a8;
        border: 1px solid #c134a8;
        transition: .5s;
    }

    &__svg {
        width: 20px;
        height: 20px;
    }
}

.second-column {

    &__subtitle {
        margin: 0 0 30px 0;
        color: #FFF;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 1px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: flex-start;
    }

    &__item {
        cursor: pointer;
        position: relative;


        &::after {
            content: "";
            position: absolute;
            background-color: #FF6D35;
            height: 2px;
            width: 0;
            left: 0;
            bottom: -8px;
            transition: .3s;
        }

        &:hover::after {
            width: 100%;
        }
    }
}

.third-column {

    &__subtitle {
        margin: 0 0 30px 0;
        color: #FFF;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 1px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: flex-start;
    }

    &__item {
        cursor: pointer;
        position: relative;


        &::after {
            content: "";
            position: absolute;
            background-color: #FF6D35;
            height: 2px;
            width: 0;
            left: 0;
            bottom: -8px;
            transition: .3s;
        }

        &:hover::after {
            width: 100%;
        }
    }
}

.fourth-column {
    max-width: 370px;

    &__wrap {}

    &__title {
        margin: 0 0 30px 0;
        color: #FFF;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 1px;
    }

    &__text {
        margin: 0 0 33px 0;
    }

    &__input-wrap {
        display: flex;
        gap: 16px;
    }

    &__input {
        all: unset;
        border-radius: 50px;
        border: 1px solid rgba(129, 129, 139, 0.30);
        padding: 14.5px 32.8px 14.5px 33px;
        color: #999;
        font-weight: 400;
        width: 100%;
    }

    &__btn {}
}